name: Deploy Backend to AWS
on:
  push:
    branches: [ main ] # Runs every time you push to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: SSH into EC2 and Update
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/playlink-be
            git fetch --all
            git reset --hard origin/main
            npm install --production
            pm2 restart playlink-backend